h1,
h2,
h3,
h4,
h5,
h6,
td {
	color: white;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 10px solid #ddd;
  border: 10px solid rgba(86,61,124,.2);
  color: white;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


.row {
    display: table;
}

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


/* The sidebar menu */
.sidenav-left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0;
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 51px;
}

.sidenav-right {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0;
  z-index: 1; /* Stay on top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 51px;
}


/* The navigation menu links */
[class^=sidenav] a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

[class^=sidenav] div.header {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #818181;
  display: block;
}

[class^=sidenav] div {
  padding: 2px 2px -1px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
[class^=sidenav] a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px;
  padding: 0px 10px;
  background-color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav-left {padding-top: 15px;}
  .sidenav-left a {font-size: 18px;}
  .sidenav-right {padding-top: 15px;}
  .sidenav-right a {font-size: 18px;}
}

