<!doctype html>
<html>
    <head>
        <title>NFL Wordle</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/grid.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.PNG') }}">
    </head>
    <body class="main">
		<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" style = "color:white">NFL Wordle</a>
			</div>
			<ul class="nav navbar-nav">
				<li> <a href="{{ url_for('play') }}">Play</a></li>
				<li> <a href="{{ url_for('howtoplay') }}">How to play</a></li>
				<li> <a href="{{ url_for('divisions') }}">NFL divisions</a></li>
				<li> <a href="">Created by Brandon Gormley </a> </li>
			</ul>
		</div>
	</nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
	</body>
</html>