{% extends "base.html" %}

{% block content %}
    <h1> <b> How to play NFL Wordle </b></h1>
	
	<h2> General Rules </h2>
	<p>
		This is NFL Wordle, a spinoff of a popular word-guessing game. Instead of guessing words, you will guess names of NFL players. <br>
		For each game, a secret NFL player is generated and it is your job to guess the name of the player within 6 tries. <br>
		You can figure out who the player is based on comparisons between your guesses and the player, which the game gives to you. <br>
	</p>
	
	<h2> Rules for guessing </h2>
	<p>
		Your guess may be any player in the pool of possible secret players. Here are the guidelines:
		1. Possible positions: QB, WR, RB, TE, K <br>
		2. Scored at least 5 fantasy points in 2021 <br>
		3. Capitalization/punctuation doesn't matter, just spell the names right. <br>
	</p>
	
	<h2> The <b>Stat</b> column </h2>
	<p>
		The stat column means something different depending on the secret player's position on the field. <br>
		If the secret player is a QB, this column will represent the passing yards of each QB you guess. <br>
		If the secret player is a RB, this column will represent the rushing yards of each RB you guess. <br>
		If the secret player is a WR, this column will represent the receiving yards of each WR you guess. <br>
		If the secret player is a TE, this column will represent the receiving yards of each TE you guess. <br>
		If the secret player is a kicker, this column will represent the total fantasy points of each kicker you guess. <br>
		The stat column will only be revealed once you guess a player with the correct position. <br>
		See below for what the color of this column means.
	</p>
		
	
	<h2> Color Codes </h2
	<p>
		1. Red: This piece of information is not correct. <br>
		2. Green: This piece of information is exactly correct. <br>
		3. Yellow: This piece of information is almost correct. Could be either of the following:<br>
		&emsp;a. The team is in the correct division, but is not the correct team. <br>
		&emsp;b. The secret player used to play for this team but no longer plays there. <br>
		4. Orange: This piece of information is too high. Could be either of the following: <br>
		&emsp;a. Your player's <b>Stat</b> column is higher than that of the secret player. <br>
		&emsp;b. Your guess is older than the secret player (if in the <b>Age</b> column). <br>
		&emsp;c. Your guess is taller than the secret player (if in the <b>Height</b> column). <br>
		5. Blue: This piece of information is too low. Could be either of the following: <br>
		&emsp;a. Your player's <b>Stat</b> column is lower than that of the secret player. <br>
		&emsp;b. Your guess is younger than the secret player (if in the <b>Age</b> column). <br>
		&emsp;c. Your guess is shorter than the secret player (if in the <b>Height</b> column). <br>
	</p>	
		

	<h2> FAQ </h2>
	<p>
	1. <b> I entered Michael Thomas and it said he's not a valid player! </b> <br>
		&emsp;The pool of available players includes the 508 NFL players who scored 5 or more fantasy points <i> in 2021</i>. <br>
		&emsp;Since Michael Thomas (and many other talented players) did not play in 2021, they are not in the pool of answers <br>
		&emsp;and will be treated as invalid guesses. Ironically, Mike Thomas (the Bengals WR) is a valid player. Maybe try him.<br>
	2. <b> Why did the first row of my table suddenly turn red? </b> <br>
		&emsp;This means that the answer is in the bottom 20% of the pool of players, so it us a warning that this will likely <br>
		&emsp;be a tough player to guess.
	</p>
{% endblock %}